Repository tyg3rr/Epi_Helper, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/python, area/vscode

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/python:
  - "src/**/*"
  - "pyproject.toml"
area/vscode:
  - ".vscode/*"

fix labeler
  .github/workflows/meta-labeler.yaml
Labels: area/ci

fix os detection
  .github/workflows/python-package.yaml
Labels: area/ci

fix os detection
  .github/workflows/python-package.yaml
Labels: area/ci

fix package name mismatch
  .github/workflows/publish-pypi.yaml
  .github/workflows/python-package.yaml
Labels: area/ci

Update python-package.yaml
  .github/workflows/python-package.yaml
Labels: area/ci

Update publish-pypi.yaml
  .github/workflows/publish-pypi.yaml
Labels: area/ci

Update publish-pypi.yaml for debug
  .github/workflows/publish-pypi.yaml
Labels: area/ci

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area/ci

fix bug_report template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: area/ci

switch to using API Token pending pypi/warehouse#11096
  .github/workflows/publish-pypi.yaml
Labels: area/ci

disable local version for pypi compatibility
  pyproject.toml
Labels: area/python

fix invalid trove classifier
  pyproject.toml
Labels: area/python

fix keywords
  pyproject.toml
Labels: area/python

update pipeline to run regularly
  .github/workflows/python-pipeline.yaml
Labels: area/ci

add broken link check workflow
  .github/workflows/scheduled-broken-link-check.yaml
Labels: area/ci

Add PR Template
  .github/PULL_REQUEST_TEMPLATE/basic_pull_request.md
Labels: area/ci

add auto-review?
  .github/review-groups.yaml
  .github/workflows/meta-assign-reviewers.yaml
Labels: area/ci

Update README.md
  README.md
Labels: none

Update pyproject.toml typo
  pyproject.toml
Labels: area/python

Update publish-pypi.yaml
  .github/workflows/publish-pypi.yaml
Labels: area/ci

smol edit
  src/epi_helper/lilmodmod/module.py
Labels: area/python

fixed YTD median column
  src/epi_helper/__main__.py
  src/epi_helper/lilmodmod/module.py
Labels: area/python

Update README.md - added module dependencies
  README.md
Labels: none

update
  FINAL.pbix
  README.md
Labels: none

fix label
  .github/workflows/publish-pypi.yaml
Labels: area/ci

updates
  FINAL.pbix
  src/epi_helper/__main__.py
  src/epi_helper/lilmodmod/module.py
Labels: area/python

Delete FINAL.pbix
  FINAL.pbix
Labels: none

Add files via upload
  FINAL.pbix
Labels: none

Update README.md
  README.md
Labels: none

added guidebook
  README.md
Labels: none

useability update
  FINAL.pbix
  src/epi_helper/lilmodmod/module.py
Labels: area/python

typo
  src/epi_helper/lilmodmod/module.py
Labels: area/python

typo
  src/epi_helper/lilmodmod/module.py
Labels: area/python

readability
  src/epi_helper/lilmodmod/module.py
Labels: area/python

useability
  src/epi_helper/lilmodmod/module.py
Labels: area/python

update
  src/epi_helper/lilmodmod/module.py
Labels: area/python
